<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
</head>

<body>
    <!-- Products Start -->
    <div class="container m-5 p-5">
        <h3>
            Elements of an Ecommerce About Us Page
        </h3>
        <p>The first thing to keep in mind is that your About Us page is not just about you – it’s about what you
            can do for potential customers, and why you should be the one to do it. Therefore, you’ll want to make
            sure you provide some background on both your products and your team. You’ll also want to emphasize the
            core values that make your company unique. </p>
    </div>
    <!-- Products End -->
</body>

</html>