<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitra</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.15.3/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
<!-- header -->
<div class="p-2">
    <div th:replace="fragments/headerwithuser :: headerwithuser">Header</div>
    <!-- navbar start -->
    <div th:replace="fragments/navbar :: navbar">Nav Bar</div>
    <!-- navbar end -->
</div>
<!-- header end -->
    <div class="container">
        <div class="col-12 text-center"><h3>Profile</h3></div>
        <!-- Products items start -->
        <div class="row my-2">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">Detail</li>
                    <li class="list-group-item">Orders</li>
                </ul>
            </div>

            <div class="col-9 border">
                <div class="row m-2">
                    <div class="col-4">
                        <span>Name: </span>
                    </div>
                    <div class="col-8">
                        <span th:text="${productInventory.name}"></span>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-4">
                        <span>Model: </span>
                    </div>
                    <div class="col-8">
                        <span th:text="${productInventory.model}"></span>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-4">
                        <span>MRP: </span>
                    </div>
                    <div class="col-8">
                        <span th:text="${productInventory.MRP}"></span>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-4">
                        <span>Sell Price: </span>
                    </div>
                    <div class="col-8">
                        <span th:text="${productInventory.sellPrice}"></span>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-4">
                        <span>Product Status: </span>
                    </div>
                    <div class="col-8">
                        <span th:text="${productInventory.productStatus}"></span>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-4">
                        <span>Stock Available: </span>
                    </div>
                    <div class="col-8">
                        <span th:text="${productInventory.isStockAvailable}"></span>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-4">
                        <a class="btn btn-warning" th:href="@{'/productedit/'+ ${productInventory.name}}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products items End -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/font-awesome/5.15.3/js/all.min.js}"></script>

</body>

</html>