<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitra</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.15.3/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
<!-- header -->
<div class="p-2">
    <div th:replace="fragments/headerwithuser :: headerwithuser">Header</div>
    <!-- navbar start -->
    <div th:replace="fragments/navbar :: navbar">Nav Bar</div>
    <!-- navbar end -->
</div>
<!-- header end -->
<div class="border py-4"></div>
<!-- Products items start -->
<div class="text-center">
    <h4>Login</h4>
</div>
<div class="row my-2">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="#" th:action="@{/productadd}" th:object="${productInventory}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
            </div>
            <div class="mb-3">
                <label for="model" class="form-label">Model</label>
                <input type="text" class="form-control" id="model" th:field="*{model}">
            </div>
            <div class="mb-3">
                <label for="productStatus" class="form-label"><P></P>roduct Status</label>
                <input type="text" class="form-control" id="productStatus" th:field="*{productStatus}">
            </div>
            <div class="mb-3">
                <label for="isStockAvailable" class="form-label">Stock Available</label>
                <input type="text" class="form-control" id="isStockAvailable" th:field="*{isStockAvailable}">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    <div class="col-4"></div>
</div>
<!-- Products items End -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/font-awesome/5.15.3/js/all.min.js}"></script>
</body>

</html>