<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitra</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.15.3/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
    <div class="text-center">
        <h3>Profile Edit Address</h3>
    </div>
    <div class="container">
        <!-- Products items start -->
        <div class="row my-2">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item" aria-current="true">Detail</li>
                    <li class="list-group-item active bg">Addresses</li>
                    <li class="list-group-item">Order History</li>
                    <li class="list-group-item">Reset Password</li>
                    <li class="list-group-item">Payment</li>
                    <li class="list-group-item">Future List</li>
                </ul>
            </div>
            <div class="col-9 border">
                <div class="row g-3">
                    <div class="col-6">
                        <label for="name" class="form-label pt-2">Name</label>
                        <input type="text" class="form-control" placeholder="Name"id="name" >
                    </div>
                    <div class="col-6">
                        <label for="mobile" class="form-label pt-2">Mobile</label>
                        <input type="text" class="form-control" placeholder="Mobile" id="mobile">
                    </div>
                </div>
            <form class="row g-3" action="#" th:action="@{/profileaddressedit}" th:object="${address}" method="post">
                    <div class="col-6">
                        <label for="addressLineOne" class="form-label pt-2">Address Line-1</label>
                        <input type="text" class="form-control" id="addressLineOne"
                               th:field="*{addressLineOne}"
                               th:value="${address.addressLineOne}">
                    </div>
                    <div class="col-6">
                        <label for="addressLineTwo" class="form-label pt-2">Address Line-2</label>
                        <input type="text" class="form-control" id="addressLineTwo"
                               th:field="*{addressLineTwo}"
                               th:value="${address.addressLineTwo}">
                    </div>
                    <div class="col-6">
                        <label for="landmark" class="form-label">Landmark</label>
                        <input type="text" class="form-control" id="landmark" placeholder="Landmark">
                    </div>
                    <div class="col-6">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city">
                    </div>
                    <div class="col-4">
                        <label for="district" class="form-label">District</label>
                        <input type="text" class="form-control" id="district" placeholder="Dist">
                    </div>
                    <div class="col-4">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="country" placeholder="Country">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose state</option>
                            <option value="Andaman &amp; Nicobar Islands">Andaman &amp; Nicobar Islands</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadra &amp; Nagar Haveli">Dadra &amp; Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu &amp; Kashmir">Jammu &amp; Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Ladakh">Ladakh</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="West Bengal">West Bengal</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputZip" class="form-label">Zip Code</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="row p-4">
                        <div class="form-check col-3">
                            <input class="form-check-input" type="checkbox" id="homeAddress">
                            <label class="form-check-label" for="gridCheck">
                                Home Address
                            </label>
                        </div>
                        <div class="form-check col-3">
                            <input class="form-check-input" type="checkbox" id="officeAddress">
                            <label class="form-check-label" for="gridCheck">
                                Office Address
                            </label>
                        </div>
                        <div class="form-check col-3">
                            <input class="form-check-input" type="checkbox" id="billingAddress">
                            <label class="form-check-label" for="gridCheck">
                                Billing Address
                            </label>
                        </div>
                        <div class="form-check col-3">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Delivery Address
                            </label>
                        </div>
                    </div>
                    <div class="col-12 p-2">
                        <button type="submit" class="btn btn-warning">Update</button>
                        <button type="submit" class="btn btn-warning">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Products items End -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>

</body>

</html>