<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitra</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.15.3/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
    <div class="text-center"><h3>Profile Address</h3></div>
    <div class="container">
        <!-- Products items start -->
        <div class="row my-2">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item" aria-current="true">Detail</li>
                    <li class="list-group-item active bg">Addresses</li>
                    <li class="list-group-item">Order History</li>
                    <li class="list-group-item">Reset Password</li>
                    <li class="list-group-item">Payment</li>
                    <li class="list-group-item">Future List</li>
                </ul>
            </div>

            <div class="col-9 border">
                <div class="row m-2" th:each="address :${addresses}">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${address.type}">Home Address</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text" th:text="${address.addressLineOne}">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                            <div class="row p-2">
                                <div class="col-2">
                                    <a class="btn btn-warning" th:href="@{/profileaddressedit(id=${address.adId})}">Edit</a>
                                </div>
                                <div class="col-2 text-end">
                                    <button type="button" class="btn btn-warning">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Office Address</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                            <div class="row p-2">
                                <div class="col-2">
                                    <button type="button" class="btn btn-warning">Edit</button>
                                </div>
                                <div class="col-2 text-end">
                                    <button type="button" class="btn btn-warning">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Home Address</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                            <div class="row p-2">
                                <div class="col-2">
                                    <button type="button" class="btn btn-warning">Edit</button>
                                </div>
                                <div class="col-2 text-end">
                                    <button type="button" class="btn btn-warning">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Office Address</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                            <div class="row p-2">
                                <div class="col-2">
                                    <button type="button" class="btn btn-warning">Edit</button>
                                </div>
                                <div class="col-2 text-end">
                                    <button type="button" class="btn btn-warning">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="row m-2">
                    <div class="col-4">
                        <button type="button" href="#" class="btn btn-warning">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products items End -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>

</body>

</html>