<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitra</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Script -->
    <script src="css/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="col-12 text-center"><h3>Admin Product Add</h3></div>
        <!-- Products items start -->
        <div class="row my-2">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item">List</li>
                    <li class="list-group-item active" aria-current="true">Add</li>
                    <li class="list-group-item">Update</li>
                    <li class="list-group-item">Remove</li>
                    <li class="list-group-item">Price</li>
                    <li class="list-group-item">Stock</li>
                </ul>
            </div>

            <div class="col-9 border">
                <div class="row m-2">
                    <div class="col-2">
                        <span>Name: </span>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Name">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        <span>Model: </span>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Model">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        <span>MRP: </span>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="MRP">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        <span>Offer: </span>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Offer">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        <span>MFD: </span>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="MFD">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        <span>Expire Date: </span>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Expire Date">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        <span>Quantity: </span>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Quantity">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-3">
                        <button type="button" class="btn btn-warning">Update</button>
                        <button type="button" class="btn btn-warning">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products items End -->
</body>

</html>