<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitra</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Script -->
    <script src="css/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- Products items start -->
    <div class="row m-5">
        <div class="col-12 text-center">
            <h3>Contact Us</h3>
            <h6>Want to chat now or get a call from us?</h6>

        </div>
        <div class="row m-5">
            <div class="col-6 text-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Chat right now</h5>
                        <p class="card-text">Our messaging assistant can quickly solve many issues or direct you to the
                            right person or place.</p>

                        <a href="#" class="btn btn-warning">Chat now</a>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Have us call you</h5>
                        <p class="card-text">We'll first get a few details about your issue and then someone will call
                            you right away.</p>

                        <a href="#" class="btn btn-warning">Call now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Products items End -->
</body>

</html>