<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitra</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Script -->
    <script src="css/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="container">
        <div class="col-8">
            <h3>Select a payment method</h3>
            <p>Pay faster for all your shopping needs with  Pay balance
                Get Instant refund on cancellations | Zero payment failures</p>
        </div>
        <div class="container mt-2">
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class=" row g-0">
                            <div class="col-md-4">
                                <img src="upi.png" class="img-thumbnail" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                    id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    <h6>
                                                        using upi app
                                                    </h6>
                                                </label>
                                                <p>Scan This Code.</p>
                                            </div>
                                            <div class="form-check mt-5">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                    id="flexRadioDefault2" checked>
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    <h6>
                                                        Pay on delivery</h6>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <p class="card-text float-end">Price: $5,555/-</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit"class="btn btn-primary float-end">Continue</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products items End -->
</body>

</html>