<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitra</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Script -->
    <script src="css/bootstrap.bundle.min.js"></script>

    <style>
        li{
            list-style: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-12 text-center">
            <h3>Profile Order Detail</h3>
        </div>
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
    <!-- Products items start -->
    <div class="container">
        <div class="row pt-2">
            <div class="col-3 p-1 border">
                <img src="image/profileorder.JPG" alt="Product">
                <p class="card-text ">Order Id: 54321</p>
            </div>
            <div class="col-6 border py-1">
                <h6 class="card-title">Product Name One</h6>
                <p class="card-text ">Total Price: ₹5,555/-</p>
                <p class="card-text ">Order Placed: 01/01/2020</p>
                <p class="card-text ">Deliver On: 01/01/2020 </p>
            </div>
            <div class="col-3 border py-1">
                <button type="button" class="w-100 btn btn-sm btn-primary m-1">Order Detail</button>
                <button type="button" class="w-100 btn btn-sm btn-primary m-1">Return/Replace</button>
                <button type="button" class="w-100 btn btn-sm btn-primary m-1">Give Rating/Review</button>
                <button type="button" class="w-100 btn btn-sm btn-primary m-1">Download Invoice</button>
            </div>
        </div>
        <div class="row">
            <div class="col-3 p-1 border">
                <h6 class="card-title text-center">Shipping Address</h6>
                <div class="">
                    <ul class="">
                        <li class="">abhijit senapati</li>
                        <li class=" ">Basudeipur, chandanpur</li>
                        <li class=" ">Chandanpur, ODISHA 752012</li>
                        <li class=" ">India</li>
                    </ul>
                </div>
            </div>
            <div class="col-6 border py-1">
                <h6 class="card-title text-center">Payment Method</h6>

            </div>
            <div class="col-3 border py-1">
                <h6 class="text-center">Order Summary</h6>
                <div>
                    <ul>
                        <li>Item Subtotal:₹700</li>
                        <li>Shipping:</li>
                        <li>Total:</li>
                        <li><b>Grand Total</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Products items End -->
</body>

</html>