<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="template/craftlayout :: head">
</head>

<body>
    <div class="container-fluid m-0 p-0">
        <!-- header -->
        <div class="p-2">
            <div th:replace="template/craftlayout :: header">Header</div>
            <!--<div th:replace="${#strings.isEmpty(userDetail.emailId)} ?
                ~{fragments/craftlayout :: header} :
                ~{fragments/craftlayout :: headerwithuser}">
            </div>-->

            <!-- navbar start -->
            <div th:replace="template/craftlayout :: navbar">Nav Bar</div>
            <!-- navbar end -->
        </div>
        <!-- header end -->
        <!-- ImageSlide start -->
        <div>
            <div th:replace="template/craftlayout :: carousel">Carousel</div>
        </div>
        <!-- ImageSlide end -->
        <!-- Alert Message start -->
        <div class="container">
            <div class="m-0 p-2">
                <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
            </div>
        </div>
        <!-- Alert Message end -->
        <!-- Products items start -->
        <div class="container" th:fragment="products">
            <!-- Products items start -->
            <div class="p-5">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p25.jpeg" th:src="@{images/p25.jpeg}" class="card-img-top" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Stone Work</p>
                            <a class="btn btn-warning" th:href="@{/productdetail(name='ball')}">View</a>
                        </div>
                    </div>
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p26.jpeg" class="card-img-top" th:src="@{images/p26.jpeg}" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Stone Work</p>
                            <a class="btn btn-warning" th:href="@{/productdetail(name='photo')}">View</a>
                        </div>
                    </div>
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p27.jpeg" class="card-img-top" th:src="@{images/p27.jpeg}" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Stone Work</p>
                            <a class="btn btn-warning" th:href="@{/productdetail}">View</a>
                        </div>
                    </div>
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p28.jpeg" class="card-img-top" th:src="@{images/p28.jpeg}" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Stone Work</p>
                            <a class="btn btn-warning" th:href="@{/productdetail}">View</a>
                        </div>
                    </div>
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p29.jpeg" class="card-img-top" th:src="@{images/p29.jpeg}" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Handcraft</p>
                            <a href="#" class="btn btn-warning">View</a>
                        </div>
                    </div>
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p30.jpeg" class="card-img-top" th:src="@{images/p30.jpeg}" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Handcraft</p>
                            <a href="#" class="btn btn-warning">View</a>
                        </div>
                    </div>
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p31.jpeg" class="card-img-top" th:src="@{images/p31.jpeg}" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Handcraft</p>
                            <a href="#" class="btn btn-warning">View</a>
                        </div>
                    </div>
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p32.jpeg" class="card-img-top" th:src="@{images/p32.jpeg}" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Handcraft</p>
                            <a href="#" class="btn btn-warning">View</a>
                        </div>
                    </div>
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p33.jpeg" class="card-img-top" th:src="@{images/p33.jpeg}" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Handcraft</p>
                            <a href="#" class="btn btn-warning">View</a>
                        </div>
                    </div>
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p34.jpeg" class="card-img-top" th:src="@{images/p34.jpeg}" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Handcraft</p>
                            <a href="#" class="btn btn-warning">View</a>
                        </div>
                    </div>
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p35.jpeg" class="card-img-top" th:src="@{images/p35.jpeg}" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Handcraft</p>
                            <a href="#" class="btn btn-warning">View</a>
                        </div>
                    </div>
                    <div class="card m-2 p-4" style="width: 15rem;">
                        <img src="../static/images/p36.jpeg" class="card-img-top" th:src="@{images/p36.jpeg}" alt="image">
                        <div class="card-body text-center">
                            <!-- <h5 class="card-title">Patachitra</h5> -->
                            <p class="card-text">Handcraft</p>
                            <a href="#" class="btn btn-warning">View</a>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="btn btn-warning" th:href="@{/cottonworkproductsfour}">Next</a>
                    <a class="btn btn-warning" th:href="@{/cottonworkproductstwo}">Previous</a>
                </div>
            </div>
            <!-- Products items End -->
        </div>
        <!-- Products items End -->
    </div>
    <!-- footer start -->
    <div th:replace="template/craftlayout :: footer">footer</div>
    <!-- footer end -->

    <!-- Script -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/font-awesome/5.15.3/js/all.min.js}"></script>
</body>

</html>