<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:include="template/craftlayout :: head">
</head>

<body>
<div class="container-fluid m-0 p-0">
    <!-- header -->
    <div class="p-2">
        <div th:replace="template/craftlayout :: header">Header</div>
        <!-- navbar start -->
        <div th:replace="template/craftlayout :: navbar">Nav Bar</div>
        <!-- navbar end -->
    </div>
    <!-- header end -->
    <!-- ImageSlide start -->
    <div>
        <div th:replace="template/craftlayout :: carousel">Nav Bar</div>
    </div>
    <!-- ImageSlide end -->
    <!-- Products items start -->
    <div th:replace="template/fragments/products :: products">products content</div>
    <!-- Products items End -->
</div>
<!-- footer start -->
<div th:replace="template/craftlayout :: footer">footer</div>
<!-- footer end -->

<!-- Script -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/font-awesome/5.15.3/js/all.min.js}"></script>
</body>

</html>