<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="template/craftlayout :: head">
</head>

<body>
<div class="container-fluid m-0 p-0">
    <!-- header -->
    <div class="p-2">
        <div th:replace="template/craftlayout :: header">Header</div>
        <!-- navbar start -->
        <div th:replace="template/craftlayout :: navbar">Nav Bar</div>
        <!-- navbar end -->
    </div>
    <!-- header end -->
    <div class="container">
        <div class="col-12 text-center"><h3>Product</h3></div>
        <!-- Products items start -->
        <div class="row my-2">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item"><a class="list-group-item" th:href="@{/product}">Product</a></li>
                    <li class="list-group-item active" aria-current="true"><a class="list-group-item"
                                                                              th:href="@{/productadd}">Add Product</a>
                    </li>
                    <li class="list-group-item"><a class="list-group-item" th:href="@{/productsearch}">Search
                        Product</a>
                    </li>
                    <li class="list-group-item"><a class="list-group-item" th:href="@{/productlist}">List Of Product</a>
                    </li>
                </ul>
            </div>
            <div class="col-9 border">
                <form action="#" th:action="@{/productadd}" th:object="${adminProduct}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>
                    <div class="mb-3">
                        <label for="model" class="form-label">Model</label>
                        <input type="text" class="form-control" id="model" th:field="*{model}">
                    </div>
                    <div class="mb-3">
                        <label for="productStatus" class="form-label"><P></P>Product Status</label>
                        <input type="text" class="form-control" id="productStatus" th:field="*{productStatus}">
                    </div>
                    <!--<div class="mb-3">
                        <label for="isStockAvailable" class="form-label">Stock Available</label>
                        <input type="text" class="form-control" id="isStockAvailable" th:field="*{isStockAvailable}">
                    </div>-->
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Products items End -->
<!-- footer start -->
<div th:replace="template/craftlayout :: footer">footer</div>
<!-- footer end -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/font-awesome/5.15.3/js/all.min.js}"></script>

</body>

</html>