<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="template/craftlayout :: head">
</head>

<body>
<!-- header -->
<div class="p-2">
    <div th:replace="template/craftlayout :: header">Header</div>
    <!-- navbar start -->
    <div th:replace="template/craftlayout :: navbar">Nav Bar</div>
    <!-- navbar end -->
</div>
<!-- header end -->
<div class="container">
    <div class="col-12 text-center"><h3>Profile Edit</h3></div>
    <!-- Products items start -->
    <div class="row my-2">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true"><a class="list-group-item" th:href="@{/profile}">Detail</a></li>
                <li class="list-group-item"><a class="list-group-item" th:href="@{/profileaddress}">Address</a></li>
                <li class="list-group-item"><a class="list-group-item" th:href="@{/profileorders}">Order History</a></li>
            </ul>
        </div>

        <div class="col-9 border">
            <form action="#" th:action="@{/profileupdate}" th:object="${userDetail}" method="post" class="row g-3">
                <div class="row m-2">
                    <div class="col-2">
                        <span>Name: </span>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" id="name" th:field="*{name}"
                               th:value="${userDetail.name}">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        <span>Email: </span>
                    </div>
                    <div class="col-8">
                        <input type="email" class="form-control form-control-sm" id="email" th:field="*{emailId}"
                               th:value="${userDetail.emailId}">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        <span>Mobile: </span>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm" id="mobile" th:field="*{phoneNumber}"
                               th:value="${userDetail.phoneNumber}">
                    </div>
                </div>
                <!--<div class="row m-2">
                    <div class="col-2">
                        <span>DOB: </span>
                    </div>
                    <div class="col-8">
                        <input type="date" class="form-control form-control-sm" id="colFormLabelSm" th:field="*{dob}"
                               th:value="${userDetail.dob}">
                    </div>
                </div>-->
                <div class="row m-2">
                    <div class="col-3">
                        <button type="submit" class="btn btn-warning">Update</button>
                        <button type="button" class="btn btn-warning">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Products items End -->
<!-- footer start -->
<div th:replace="template/craftlayout :: footer">footer</div>
<!-- footer end -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/font-awesome/5.15.3/js/all.min.js}"></script>

</body>

</html>